[Unit]
Description=Guessir
# If the app starts when the machine boots up, it should wait until after the main networking functionality of the server is online to do so
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/k-k.io/node_modules/@guessir/backend
ExecStart=/usr/local/bin/npm run start:ts
Restart=on-failure
# The app won't try and fork itself to drop user privileges or anything like that
Type=simple

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
Environment=NODE_ENV=production

Environment=PORT=3020
Environment=HOST=127.0.0.1

Environment=DB=true
Environment=DB_NAME=guessir
Environment=DB_USER=admin
Environment=DB_PW=admin
Environment=DB_HOST=127.0.0.1
Environment=DB_PORT=5432

[Install]
WantedBy=multi-user.target
