[Unit]
Description=Guessir
# If the app starts when the machine boots up, it should wait until after the main networking functionality of the server is online
After=network.target

[Service]
WorkingDirectory=/home/admin/k-k.io/preparedModules/guessir-backend-dist
ExecStart=/home/admin/.nvm/nvm-exec node --experimental-loader=extensionless main.js
Restart=on-failure
# The app won't try and fork itself to drop user privileges or anything like that
Type=simple

Environment=NODE_ENV=production
# Used by `nvm-exec`
Environment=NODE_VERSION=19

Environment=PORT=3020
Environment=HOST=127.0.0.1

Environment=DB=true
Environment=DB_NAME=guessir
Environment=DB_USER=admin
Environment=DB_PW=admin
Environment=DB_HOST=127.0.0.1
Environment=DB_PORT=5432

[Install]
WantedBy=multi-user.target
