[Unit]
Description=sites
# If the app starts when the machine boots up, it should wait until after the main networking functionality of the server is online
After=network.target

[Service]
WorkingDirectory=/home/admin/k-k.pro/services/sites
ExecStartPre=docker compose stop
ExecStartPre=docker compose rm
ExecStartPre=docker compose pull
ExecStart=docker compose up
Restart=always
RestartSec=5s
# The app won't try and fork itself to drop user privileges or anything like that
Type=simple

[Install]
WantedBy=default.target
